.App {
  text-align: center;
}


.board{
    text-align: center;

}

.cell {
    border: 1px solid black;
    display: inline-block;
    height: 50px;
    width: 50px;
    font-family: "Monotype Corsiva";
}

.p1 {
    border: 1px solid black;
    background-color: yellow;
    color: black;
    border-radius: 50%;
}

.p2 {
    background-color: red;
    color: black;
    border-radius: 50%;
    border: 1px solid black;
}